---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Schedule">
<ul class="timeline timeline-vertical">
<li>
  <div class="timeline-start">10:00</div>
  <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
  </div>
  <div class="timeline-end timeline-box">Prof. John Doe. <b>Some talk name</b></div>
  <hr/>
</li>
<li>
  <div class="timeline-start">10:45</div>
  <div class="timeline-middle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
          clip-rule="evenodd" />
      </svg>
  </div>
  <div class="timeline-end timeline-box">Dr. H. Random. <b>Some other talk name</b></div>
  <hr/>
</li>
</ul>
</Layout>
