<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">QCCC 2025</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 z-[1]">
      <li><a href="/">Home</a></li>
      <li><a href="/cfp">Call for Papers</a></li>
      <li><a href="/dates">Dates</a></li>
{/*
      <li><a href="/speakers">Invited Speakers</a></li>
      <li><a href="/schedule">Schedule</a></li>
*/}
      <li><a href="/committees">Committees</a></li>
      <li><a href="/submission">Submission</a></li>
{/*
      <li>
        <details>
          <summary>Registration</summary>
          <ul class="bg-base-100 min-w-60 rounded-t-none p-2">
            <li><a href="/registration">Registration and Payment</a></li>
            <li><a href="/accomodation">Accomodation Options</a></li>
            <li><a href="/excursion">Excursion Options</a></li>
          </ul>
        </details>
      </li>
*/}
      <li><a href="/venue">Venue</a></li>
      <li><a href="/previous">Previous Events</a></li>
{/*
      <li><a href="/sponsors">Sponsors</a></li>
*/}
      <li><a href="/contact">Contact us</a></li>
    </ul>
  </div>
</div>
