---
import NavBar from '../components/NavBar.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<div class="container mx-auto">
		  <slot />
		</div>
		<footer class="footer footer-center bg-neutral text-neutral-content p-10">
			{/*
			<aside>
				<p class="font-bold">QCCC 2025</p>
				<p>The <a href="https://cmt3.research.microsoft.com">Microsoft CMT service</a> was used for managing the peer-reviewing process for this conference. This service was provided for free by Microsoft and they bore all expenses, including costs for Azure cloud services as well as for software development and support.</p>
				<p>The conference website was built using <a href="https://astro.build">Astro web framework</a> and uses <a href="https://daisyui.com">DaisyUI component library</a>.</p>
			</aside>
			*/}
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
